* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(235, 235, 235);
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 0.5rem;
  width: 100%;
  height: 3.5rem;
}

.header-izquierda,
.header-centro,
.header-derecha {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
}

.header-centro {
  justify-content: center;
  gap: 5rem;
}
.header-derecha {
  justify-content: flex-end;
  padding: 0 1rem;
  gap: 1rem;
}

.logo {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin: 0 0.25rem 0.5rem 0.25rem;
  cursor: pointer;
}

.buscar {
  width: 15rem;
  padding: 0.75rem;
  border-radius: 2.5rem;
  border: none;
  background-color: rgb(235, 235, 235);
}

.icon {
  width: 1.95rem;
  height: 1.95rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.perfil-pensando,
.perfil {
  width: 1.95rem;
  height: 1.95rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  background-color: rgb(210, 210, 210);
}

.perfil-pensando {
  margin: 0 0.5rem 1rem 0;
}

.perfil:hover,
li:hover {
  background-color: rgb(225, 225, 225);
  cursor: pointer;
}

.accion {
  width: 1.75rem;
  height: 1.75rem;
}

.contenedor {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  gap: 1rem;
  padding: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.centro {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.crear-post {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.pensando {
  flex: 1;
  padding: 0.75rem;
  border-radius: 2.5rem;
  border: none;
  background-color: rgb(235, 235, 235);
}

.historias {
  display: flex;
  gap: 0.5rem;
  overflow-x: scroll;
}

.historia {
  min-width: 7.5rem;
  height: 12.5rem;
  background-color: rgb(210, 210, 210);
  border-radius: 0.5rem;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  overflow: hidden;
}

.post-top {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
}

.info p {
  margin: 0;
  font-size: 1rem;
}

.info small {
  display: block;
  font-size: 0.75rem;
  color: rgb(125, 125, 125);
}

.post-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 1200px) {

  .contenedor {
    grid-template-columns: 25% 50% 25%;
    overflow: hidden;
  }

  .header-centro {
    gap: 3.5rem;
  }
}

@media (max-width: 768px) {
  .contenedor {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .header-centro {
    display: none;
  }

  .izquierda,
  .derecha {
    display: none;
  }

  .centro {
    max-width: 40rem;
    margin: auto;
    width: 100%;
  }
}

@media (max-width: 600px) {
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-centro {
    display: none;
  }

  .buscar {
    width: 100%;
    max-width: 10rem;
  }

  .contenedor {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }

  .izquierda,
  .derecha {
    display: none;
  }

  .centro {
    width: 100%;
  }

  .crear-post {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
  }

  .pensando {
    flex: 1;
    width: 100%;
  }

  .historias {
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
  }

  .historia {
    flex: 0 0 auto;
    width: 7.5rem;
    height: 12.5rem;
  }

  .feed {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  .post {
    width: 100%;
  }

  .post-top {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .post-img {
    width: 100%;
    height: auto;
    min-height: 20rem;
  }
}
